h1 {
	padding-top: 10px;
	padding-bottom: 40px;
	margin: 0;
}

h1.title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 3.20em;
	padding-top: 3em;
}

h2 {
	position: relative;
	line-height: 60px;
	padding: 0;
	font-weight: normal;
	color: rgb(102, 102, 102);
}

li::before {
	list-style-type: none;
	content: no-open-quote;
}

img{
	padding-left: 90px;
	padding-top: 5px;
}

.hello-android {
	margin: 0 auto;
	padding-left: 200px;
}

img.pmc {
	padding: 180px 80px;
}

img.pmcanvas-online, img.pmcanvas{
	padding: 90px 0;
}

img.inocente {
	padding: 90px 150px;
}

img.workbench, img.trello{
	padding: 25px 0;
}

img.trello {
	margin-left: -35px;
}

img.sprint1 {
	position: absolute;
	z-index: 1;
	margin-left: 50px;
}

img.sprint2 {
	position: absolute;
	z-index: 2;
	padding: 30px;
	margin-left: 140px;
}

img.sprint3 {
	position: absolute;
	z-index: 3;
	padding: 60px;
	margin-left: 170px;
}

img.sprint4 {
	position: absolute;
	z-index: 4;
	padding: 90px;
	margin-left: 200px;
}

img.sprint5 {
	position: absolute;
	z-index: 4;
	padding: 120px;
	margin-left: 230px;
}

img.sprint6 {
	position: absolute;
	z-index: 4;
	padding: 150px;
	margin-left: 260px;
}

img.gitub {
	padding-top: 100px;
}

img.fluxograma {
	position: absolute;
	display: block;
	padding: 10px 0;
	margin-left: -35px;
	z-index: 1;
}

img.matriz-swot {
	position: absolute;
	display: block;
	padding: 315px 0;
	margin-left: 120px;
	z-index: 2;
}

article {
	width: 100%;
}

.box {
	padding-top: 6em;
	padding-left: 1em;
}

.perguntas, .obrigado {
	text-align: center;
	padding-top: 230px;
}

article.smaller p {
	font-size: 1.5em;
	line-height: 50px;
	letter-spacing:normal;
}

p {
	font-size: 1.5em;
	line-height: 50px;
	letter-spacing:normal;
}